@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d59fb;
}

.wrapper {
    width: 420px;
    background-color: white;
    border-radius: 7px;
    padding: 28px 28px 0px;
}

.wrapper header {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.wrapper .search {
    margin: 30px 0;
    position: relative;
}

.search input {
    height: 53px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    padding: 0 45px;
}

.search input::placeholder {
    color: #c2c2c2;
}

.search input:focus {
    padding: 0px 44px;
    border: 2px solid #c0c0c0;
}

.search input:valid ~ .close-icon {
    display: block;
}

.search :where(.search-icon, .close-icon) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search .search-icon {
    left: 18px;
    width: 18px;
    pointer-events: none;
}

.search .close-icon {
    right: 15px;
    width: 18px;
    cursor: pointer;
    display: none;
}

.info-text {
    margin-bottom: 30px;
    font-size: 13px;
    color: #9a9a9a;
}

.info-text span {
    font-weight: 600;
}

.wrapper ul {
    height: 0;
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s ease;
}

.wrapper.active ul {
    padding-bottom: 20px;
    height: fit-content;
    opacity: 1;
}

.wrapper.active .info-text {
    display: none;
}

.wrapper ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    padding-bottom: 17px;
    border-bottom: 1px solid #dfdfdf;
}

ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

ul .word p {
    font-size: 22px;
    font-weight: 500;
}

ul .word span {
    font-size: 12px;
    color: #a3a3a3;
}

ul .word img {
    width: 22px;
    cursor: pointer;
}

.content li .details {
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 4px solid #4d59fb;
}

.content li .details p {
    font-size: 17px;
    font-weight: 500;
}

.content li .details span {
    font-size: 15px;
    color: #7e7e7e;
}

.synonyms .details .list {
    display: flex;
    flex-wrap: wrap;
}

.synonyms .details .list span {
    cursor: pointer;
    margin-right: 5px;
    text-decoration: underline;
}